#postamble {
    position: fixed;
    bottom: 2px;
    right: 15px;
}

#postamble a {
    margin-top: 20px;
    display: inline-block;
}
#outline-container-sec-1, #outline-container-sec-2, #outline-container-sec-3, #outline-container-sec-4, #outline-container-sec-5, #outline-container-sec-6, #outline-container-sec-7, #outline-container-sec-8, #outline-container-sec-9, #outline-container-sec-10{
    clear: both;
  /*  margin-left: 3em;
    margin-right: 3em;*/
    width: 85%;
    margin: 40px auto 60px;
}
#text-1, #text-2, #text-2-1, #text-3, #text-4, #text-5, #text-6, #text-7, #text-8, #text-9, #text-10{
    clear: both;
    width: 85%;
    margin: 40px auto 60px;
}

#profile-box{
    width: 100%;
}

.contact-details{
    margin-left: 2em;
    padding-bottom: 2em;
    float: left;
}

dd {
    display: block;
    padding-left: 5em;
}

dt {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding: 0 26px 0 0;
    text-align: left;
}

i {
    font-style: italic;
    font-weight: bold;
}

#sec-1, #sec-2, #sec-2-1, #sec-2-2, #sec-2-3, #sec-2-4, #sec-2-5, #sec-2-6, #sec-2-7, #sec-3, #sec-4, #sec-5, #sec-6, #sec-7, #sec-8, #sec-9, #sec-10{
    text-align: center;
}
/* .outline-text-2, .outline-text-3{ */
/*     padding-left:4.7em; */
/*     padding-top:2em; */
/* } */


#table-of-contents {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 0 1em #777777;
    font-size: 10pt;
    line-height: 12pt;
    max-height: 80%;
    overflow: auto;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
}
#table-of-contents h2 {
    border: 0 none;
    font-size: 13pt;
    font-weight: normal;
    max-width: 9em;
    padding: 0.05em 0.5em;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    margin-top: -1.5em;
    padding: 0.5em;
}


img{
    max-width:100%;
}

/* Styles for org-info.js */

.org-info-js_info-navigation
{
  border-style:none;
}

#org-info-js_console
{
  color:#333333;
  margin:0px;
  background-color:#ffffff;
}

#org-info-js_console-input
{
  background-color:#ffffff;
  border-style:none;
  color:#333333;
  padding-left:10px;
  vertical-align:middle;
}

#org-info-js_console-label
{
  font-size:11px;
  font-weight:bold;
  padding-left:10px;
  font-family:Verdana,Arial,sans-serif;
  vertical-align:middle;
}

.org-info-js_console-label-warning
{
  color:#cc0000;
}

#org-info-js_console-container
{
  border:1px solid #cccccc;
}

.org-info-js_search-highlight
{
  background-color:#adefef; /* emacs default */
  color:#000000;
  font-weight:bold;
}
/* END STYLES FOR org-info.js */

header {
    color: black;
}

header h1 {
    text-transform: capitalize;
}


header h2 {
    color: white;
    text-transform: capitalize;
}

h1 h2 h3 h4 h5 {
    text-align: center;
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.3em;
}

/* Tablas*/

table {
    background-color: #F5F5F5;
}

th.left {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

td.left {
    text-align: center;
}